--relative
--no-puppet_url_without_modules-check
--no-strict_indent-check
--no-trailing_comma-check
--no-lookup_in_parameter-check
--no-parameter_documentation-check
--no-parameter_types-check
--no-params_empty_string_assignment-check
