[Unit]
Description=Tivoli Storage Manager Client
After=network.target

[Service]
Type=simple
Environment="LANG=en_US.UTF-8"
Environment="LC_CTYPE=en_US.UTF-8"
Environment="LC_ALL=en_US.UTF-8"
ExecStart=/usr/bin/dsmc sched
RemainAfterExit=no
Restart=always

[Install]
WantedBy=multi-user.target

